numpy~=1.21.5
matplotlib~=3.4.3
tensorflow~=2.8.0
tqdm~=4.62.2
keras~=2.8.0
scipy~=1.2.2
pybasicbayes~=0.2.2
gym~=0.21.0
setuptools~=58.0.4
baselines~=0.1.6
click~=8.0.3
cloudpickle~=2.0.0
pytest~=6.2.5
opencv-python~=4.5.5.62
mpi4py~=3.1.3